---
import Default from "@astrojs/starlight/components/SiteTitle.astro";
import NavLinks from "../NavLinks.astro";
---

<div>
  <Default />
  <nav class="sl-navlinks"><NavLinks position="leading" {...Astro.props} /></nav>
</div>

<style>
  div {
    display: flex;
    align-items: center;
    gap: var(--sl-nav-gap);
  }
  .sl-navlinks {
    margin-bottom: 5px;
  }
</style>