---
import { getRelativeLocaleUrl } from "astro:i18n";
---

<a class="cta-button" href={getRelativeLocaleUrl(Astro.currentLocale ?? 'en', '/guides/installation')}>Get Started! ➔</a>

<style>
a {
  margin-top: 3rem;
  background: #fff758;
  color: #000;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0 12px #fff75880;
  transition: background 0.3s, transform 0.2s;
}

a:hover {
  transform: scale(1.05);
  background: #fffa80;
}
</style>